{% extends "presence_base.html" %}

{% block timeline_fix %}<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" >{% endblock %}
{% block javascript %}
{{ super() }}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart", "timeline"], 'language': 'pl'});
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/parseInterval.js') }}"></script>
<script type="text/javascript">
    (function($) {
        $(document).ready(function(){
            var loading = $('#loading');
            var users_json = null;
            $.getJSON("{{ url_for('users_view_v2') }}", function(result) {
                var dropdown = $("#user_id");
                users_json = result;
                $.each(result, function(item) {
                    dropdown.append($("<option />").val(this.user_id).text(this.name));
                });
                dropdown.show();
                loading.hide();
            });
            $('#user_id').change(function(){
                var selected_user = $("#user_id").val();
                var chart_div = $('#chart_div');
                var avatar_div = $('#avatar_div');
                if(selected_user) {
                    loading.show();
                    chart_div.hide();
                    avatar_div.hide();
                    $.getJSON("{{ url_for('presence_start_end_view', user_id='0') }}" + selected_user, function(result) {
                        $.each(result, function(index, value) {
                            value[1] = parseInterval(value[1]);
                            value[2] = parseInterval(value[2]);
                        });
                        console.log(result);
                        var data = new google.visualization.DataTable();
                        data.addColumn('string', 'Weekday');
                        data.addColumn({ type: 'datetime', id: 'Start' });
                        data.addColumn({ type: 'datetime', id: 'End' });
                        data.addRows(result);
                        var options = {
                            hAxis: {title: 'Weekday'}
                        };
                        var formatter = new google.visualization.DateFormat({pattern: 'HH:mm:ss'});
                        formatter.format(data, 1);
                        formatter.format(data, 2);

                        var link = findAvatarInJSON(users_json, selected_user);
                        img = avatar_div.find('img').attr("src", link);
                        avatar_div.show();
                        chart_div.show();
                        loading.hide();
                        chart_div.show();
                        loading.hide();
                        var chart = new google.visualization.Timeline(chart_div[0]);
                        chart.draw(data, options);
                    });

                }
            });
        });
    })(jQuery);
</script>
{% endblock %}
{% block links %}
	{{ print_links(selected=3) }}
{% endblock %}
{% block content_header %}
Presence by start-end weekday
{% endblock %}